rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /projects/{projectId} {
      // Autoriser la lecture et le listing des projets à tout le monde
      allow read, list: if true;
      
      // Autoriser la création, la mise à jour et la suppression des projets
      allow create, update, delete: if true;
    }
  }
}