rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /projects/{projectId} {
      // Allow anyone to read and list projects
      allow read, list: if true;
      
      // Allow anyone to create, update, and delete projects
      allow create, update, delete: if true;
    }
  }
}